<div class="container-fluid">   
    <table class="table table-striped">
        <thead>
            <tr>
                <th> Actividades  </th>   
                <th> Duracion (min)  </th>   
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="actividad in actividadesRecords ">
                <td id="{{$index}}-nombre"><a ui-sref="actividadDetail({actividadId: actividad.id})">{{actividad.nombre}}</a></td>                    
                <td id="{{$index}}-duracion">{{actividad.duracion}}</td>     
                <td><button class="active"><a ui-sref="actividadesFormularioPut({actividadId: actividad.id})">Actualizar</a></button></td>     
                <td><button class="active"><a ng-click="borrarActividad($index)">Borrar</a></button></td>     
            </tr>
        </tbody>
    </table>
    <button class="active"><a ui-sref="actividadesFormulario">Agregar Actividad</a></button>
</div>
