<!--<div class="container-fluid">-->
    <!--&lt;!&ndash;Header&ndash;&gt;-->
    <!--<div class="row">-->
        <!--<div class="col-lg-2" ng-repeat="guia in guiasRecords">-->
            <!--<div style="padding-bottom: 30px">-->
                <!--<center><a ui-sref="guiaDetail({guiaId: guia.id})">-->
                    <!--<img class="img-responsive"  ng-src="{{guia.image}}" >-->
                    <!--<p >{{guia.nombre}} </p>-->
                <!--</a></center>-->
            <!--</div>-->
        <!--</div>-->
    <!--</div>-->
<!--</div>-->

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3">
           
            <table class="table table-striped">
                <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Identificacion</th>
                    <th>Tipo de Id.</th>
                    <th>Edad</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="guia in guiasRecords">
                    <td id="{{$index}}-nombre"> <a ui-sref="guiaDetail({guiaId: guia.id})">{{guia.nombre}}</a></td>
                    <td id="{{$index}}-identificacion">{{guia.identificacion}}</td>
                    <td id="{{$index}}-tipoIdentificacion">{{guia.tipoIdentificacion}}</td>
                    <td id="{{$index}}-edad">{{guia.edad}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>