<div ng-messages="form.$error" multiple>
    <ng-message when="required">
        <alert type="warning">Please, Fill the required fields!</alert>
    </ng-message>
</div>

<div class="col-md-12 well">
    <form novalidate name="form" id="opinion-form" role="form"
          ng-submit="form.$valid && ctrl.saveRecord(currentRecord.id)">
        <fieldset>
            <input id="id" class="form-control" type="hidden" ng-model="currentRecord.id"/>

            <!--comentario-->
            <label class="control-label col-sm-3" for="comentario">Comentario sobre el paseo</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="comentario" placeholder="Comentario"ng-model="opinionACrear.comentario">
            </div>

            <!--Imagen-->
            <label class="control-label col-sm-3" for="imagen">Imagen del paso</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="imagen" placeholder="Imagen" ng-model="opinionACrear.imagen">
            </div>

            <!--Fecha comentario-->
            <label class="control-label col-sm-3" for="fechaComentario">Fecha del Comentario</label>
            <div class="col-sm-9">
                <input type="text" class="form-control" id="fechaComentario" placeholder="Fecha del comentario"ng-model="opinionACrear.fechaComentario">
            </div>

        </fieldset>
        <div class="form-group col-md-12">
            <button type="button" ui-sref='opinionesList'>Cancel</button>
            <button type="submit" ng-click='crear()'>Save</button>
        </div>
    </form>
</div>