
<h1 class="text-center">Modifiar guía id: {{addGuia.id}}</h1>

<form class="form-horizontal">

    <!--comentario-->
    <label class="control-label col-sm-3" for="comentario">Comentario sobre el paseo</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="comentario" placeholder="Comentario" ng-model="comentario sobre el paseo">
    </div>

    <!--Imagen-->
    <label class="control-label col-sm-3" for="imagen">Imagen del paso</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="imagen" placeholder="Imagen" ng-model="Imagen del paseo">
    </div>

    <!--Fecha comentario-->
    <label class="control-label col-sm-3" for="fechaComentario">Fecha del Comentario</label>
    <div class="col-sm-9">
        <input type="text" class="form-control" id="fechaComentario" placeholder="Fecha del comentario" ng-model="fecha del comentario">
    </div>

    <!--  -->
</form>