<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
pailas
-->

<style type="text/css">
body {  
        background:url(https://scontent.xx.fbcdn.net/v/t31.0-8/18517987_10155434453763701_3252648405285745701_o.jpg?oh=736747ea848b6c6a32f41d4f934050f2&oe=59B1491B);                   
 }
</style>

<div class="container-fluid prueba">
    <div id="blanco"><H1>¿En busqueda de un nuevo destino...?</h1></div>
    <a ui-sref="lugaresCreate()" type="button" class="btn btn-primary">Crear lugar nuevo</a>
    <hr>
     <div id="blanco2"><H2> ¿No encuentras lo que buscas?</h2></div>
     <div><dt id="blanco">Id del lugar</dt>
        <input type="number" name="nombre" id="nombreInput"><br>
        <d></d>
         <script>
         function recibir() 
            { var valor = document.getElementById("nombreInput").value;
                console.log('mae');
                console.log(valor);
                return valor;
            }
        </script>
        <div id="nombreInput"></div>
        <a onclick="recibir()" ui-sref="lugarDetail({lugarId:recibir()})" type="button" class="btn btn-primary"> Buscar </a>
     </div>
    <hr>
    <div>
        <div id="blanco2"><H2> Aqui hay distintas opciones</h2></div>
    </div>
   <!-- http://static5.depositphotos.com/1000167/451/i/950/depositphotos_4514476-stock-photo-weathered-white-wood.jpg
   -->
    <!--Header-->
    <div class="row">
        <div ng-repeat="lugar in lugaresRecords">
            <div class="col-lg-2">
                <center><a ui-sref="lugarDetail({lugarId: lugar.id})">
                        <img class="img-responsive" ng-src="{{lugar.imagen}}" height="220px" width="220px">
                        <div id="blanco">Nombre: {{lugar.nombre}}</div>
                </a><button class="active" ><a ui-sref="lugaresActualizar({lugarId: lugar.id})">Actualizar</a></button>
                     <button class="active"><a ui-sref="paseosList" ng-click="borrarlugar(lugar.id)">Borrar</a></button></center>
            </div>
        </div>
    </div>
</div>

